<div class="maincolmask mainmenu">
    <div class="colleft">
        <div class="col1wrap">
            <div class="col1">
			 <div id="moms_content">
				<p>
				Crossfit Moms, please take a few minutes to share your Crossfit story. People like you are a huge inspiration to other Moms who want and need to get involved in this community. And don't forget, pass it on!</p>
			  <%= render 'form' %>
			 </div>
            </div>
        </div>
        <div class="col2">
            <!-- Column 2 start -->
            <%= render "shared/sidebar" %>
			<!-- Column 2 end -->
        </div>

    </div>

</div>
	<%= render "shared/footer" %>



