<%= form_for(@endurance) do |f| %>
  <% if @endurance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@endurance.errors.count, "error") %> prohibited this endurance from being saved:</h2>

      <ul>
      <% @endurance.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
