<div class="maincolmask mainmenu">
    <div class="colleft">
        <div class="col1wrap">
            <div class="col1">
			  <div id="endurance_content">
			     <h1>WHY?</h1>
				<h2>Because <a href="http://www.ncbi.nlm.nih.gov/pubmed/17991697", target="blank">studies show</a> high intensity training is equal to low intensity high volume endurance training. <span style="color:#ab2303;font-weight: 400;">That means more fit in less time.</span> Interested?</h2>
				<div class= "perks_box">
				<h2>The Perks:</h2>

				<h3>no more long slow distance running.
				less time training, same results.
				less injury.
				you will improve your time at all distances.
				get stronger.
				lose body fat.</h3>
				</div>
			    <p>
			    A day of Crossfit Endurance looks something like this:<br />

				CFE STRENGTH & CONDITIONING WOD:<br />
				<p>
				Five rounds, each for time, of:<br />

				10 Air Squats<br />

				10 Hand-release Push-ups<br />

				10 Ring Rows<br />

				10 Ring Push-ups<br />

				10 Chest-to-Bar Pull-ups<br />

				10 Lunges (per leg)<br />

				10 Burpees<br />

				Rest 0:30 between rounds. Post time to comments.<br />
				</p>
				<p>
				ENDURANCE WOD:<br />

				3+ Hours Before CFE Strength & Conditioning WOD. If performing on a rest day, then follow with Strength & Conditioning Recovery.<br />
				<br />
				Single-Sport (SS)<br />

				Choose ONE of the following sports:<br />

				Swim (SUN): 1000m @ 1500m TT pace<br />

				Bike (SUN): 10M @ 90% of 10M TT effort<br />

				Run (SUN): 2 x 2M, rest 5:00 between, hold 2M splits within 0:15-0:20<br />

				C2 Row (SUN): 2 x 3k, rest 5:00 between, hold 3k splits within 0:10-0:15<br />

				Ruck (SUN): 30 minutes with 20# ruck or vest @ 85% effort<br />

				Post sport and time or distance to comments.<br />
				<br />
				Multi-Sport (3S)<br />

				Choose ONE of the following sports:<br />

				Swim (SAT): 500m @ 85% of 500m TT effort<br />

				Bike (SUN): 20M TT<br />

				Run (OFF): 5k TT<br />

				Post sport and time or distance to comments.<br />
			
			    </p> 
				<p>
				<h3>Still not sold? Read the <a href="http://www.crossfitendurance.com/testimonials">testimonials</a> from CF Endurance athletes.</h3>	
				</p>

				<h3>
				Get started today with <a href="http://www.crossfitendurance.com/">Crossfit Endurance</a>.
				</h3>
			  </div>
            </div>
        </div>
        <div class="col2">
            <!-- Column 2 start -->
            <%= render "shared/sidebar" %>
			<!-- Column 2 end -->
        </div>

    </div>

</div>
	<%= render "shared/footer" %>




